#header-img {
margin-top: -100px;
	width: 100%;
	display: inline-block;
}

#header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;

	z-index: 1;
	border: 10px;
	border-style: solid;
	border-width: 3px;
}


body {
	margin-bottom: 500px
}

#nav-bar {
	position: absolute;
	top: 30px;
	right: 0px;
	margin-right: 5rem;
	display: inline-block;
	background-color: rgba(255, 255, 255, .8);

}

.nav-link {
	position: relative;
	display: inline-block;
	color: white;
}

#header-div {
	max-width: auto;
	max-height: 5rem;	
	overflow: hidden;
	position: relative;
}

.container {
	position: relative;
	display: block;
	padding-top: 80px;
}

.section-title {
	margin: 10px 35%;
	text-align: center;
	font-family: 'arial';
	font-weight: 550;
	border-style: dashed;

}

#history-text {
	font-family: arial;
	font-weight: 100;
	border-style: solid;
	border-width: .23rem;
	padding: .2rem;

}